<main>
  <mat-toolbar color="primary">
    <div class="intro">
      <ng-container *hasAuth>
        <button
          mat-icon-button
          (click)="logout()"
          matTooltip="Log Out"
        >
          <mat-icon>logout</mat-icon>
        </button>

        <h2>{{ (auth.user$ | async)?.name }}</h2>
      </ng-container>

      <ng-container *hasAuth="false">
        <h2>ToDo Lists App</h2>
      </ng-container>
    </div>

    <div *hasAuth>
      <button
        (click)="addTodoList()"
        mat-raised-button
        color="accent"
      >
        Add List
      </button>

      <button mat-icon-button (click)="refresh()" matTooltip="Refresh Data">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</main>
